.login-item-container {
    background-image : url('https://images3.alphacoders.com/104/thumb-1920-1041825.jpg');
    height           : 100vh;
    background-size  : cover;
    background-repeat: no-repeat;
    // opacity: 0.7;
}

.app-name-alignment {
    padding-left: 40px;
}

.app-name {
    color      : #F7F7F7;
    font-size  : 100px;
    padding-top: 100px;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: red !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: red !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: red !important;
    ;
}